@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem 1rem;
  background-image: linear-gradient(to right top, #bba1af, #d8a2a8, #eaa793, #e9b57b, #d1ca6e, #bad777, #9ce38a, #73eea6, #67f2bb, #5ef6ce, #5bf9e1, #5ffbf1);
}

.main__content {
  flex-direction: column;
}

.main__div {
  width: 400px;
  margin: 1rem;
}

.board__moves {
  width: 400px;
  margin: 1rem;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}

ol ul {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}

.square {
  width: 6rem;
  height: 6rem;

  font-family: 'Pacifico', cursive;
  font-size: 50px;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem;
}

.status {
  font-family: 'Pacifico', cursive;
  font-size: 47px;
  line-height: 55px;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .square {
    width: 5rem;
    height: 5rem;

    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: 500;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .content__wrapper {
    flex-direction: column;
  }
}